.App {
  display: flex;
  flex-direction: column;  
}

.app-header{
  background-color: #7D9D9C;
  padding: 100px 0px 100px 0px;
}


.app-header h1, h2 {
  margin: 0px 25%;
  padding: 40px 0px 0px 0px;
  font-weight: 700;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.15em;
  color: white;
}
.app-header h2{
  text-decoration: underline;
}